<html>
	<head>
		<title>Cam Rec</title>
		<script type = "text/css" src = "{{ url_for('static', filename = 'style.css') }}" ></script>
		<!-- <link rel="stylesheet" href="{{ main.css }}" /> -->
		<!-- <link type="text/css" rel="stylesheet" href="main.css"></link> -->
		<!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"></link> -->
		<script	src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<div align = "center"><img class = "buttons" src='buttonNew.svg' onmouseover="this.src='buttonNew2.svg';" onmouseout="this.src='buttonNew.svg';"/></div>
	</body>
</html>
