<html>
	<head>
		<title>Cam Rec</title>
		<script	src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<video id = "video" width = "640" height = "480" autoplay></video>
		<img src="">
		<canvas id = "canvas" width = "640" height = "480"></canvas>

		<script>
			var errorCallback = function(e) {
				console.log('oof', e);
		  	};
		  	var video = document.getElementById('video');
		  	var canvas = document.getElementById('canvas');
		  	var ctx = canvas.getContext('2d');
		  	var localMediaStream = null;
			var imgData;

		  	function snapshot() {
		    	if (localMediaStream) {
		      		ctx.drawImage(video,0,0,640,480);
		      		document.querySelector('img').src = canvas.toDataURL('image/png');
					imgData = canvas.toDataURL('image/png');
					var img = JSON.stringify(imgData);
					$.post("capture", img, function( data ) {
						console.log("img: " + data);
					});
		    	}
		  	}

		  	video.addEventListener('click', snapshot, false);

		  	navigator.getUserMedia({video: true}, function(stream) {
		    	video.srcObject = stream;
		    	localMediaStream = stream;
		  	}, errorCallback);
		</script>
	</body>
</html>
