<html>
	<head>
		<title>Earth Cents</title>
		<link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename = 'style2.css') }}">
		<script	src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body>
			<div class="row">
	  			<div class="col-md" style="text-align: center;">
					<div class="row">
						<video style = "margin: auto; margin-top: 75px"id = "video" width = "324" height = "243" autoplay></video>
					</div>
					<div class="row">
						<button id = "verifybutton" style = "margin: auto; margin-top: 25px; width: 250px; height 150px; font-size: 25px" type="button" class="btn btn-secondary" onclick="snapshot()">Verify Bottle</button>
					</div>
					<div class="row">
						<canvas style = "padding: 0px; margin: auto; margin-top: 100px; display: block;" id = "canvas" width = "324" height = "243" ></canvas>
					</div>
					<!-- <canvas width = "480" height = "360"></canvas> -->
				</div>
				<div  style = "margin-top: 1000px; padding: 50px; font-size: 35px" class="col-sm">
					<p id ="results-string"  style = "font-family: Times New Roman;">Present a recycleable can or bottle.</p>
				</div>
			</div>
		<script>
			var errorCallback = function(e) {
				console.log('oof', e);
		  	};
		  	var video = document.getElementById('video');
		  	var canvas = document.getElementById('canvas');
		  	var ctx = canvas.getContext('2d');
		  	var localMediaStream = null;
			var imgData;
		  	function snapshot() {
		    	if (localMediaStream) {
		      		ctx.drawImage(video,0,0,324,243);
					imgData = canvas.toDataURL('image/png');
					var img = JSON.stringify({ "strings": imgData});
					$.post("capture", img, function( data ) {
						console.log("img: " + data);
						if (data == -1){
							document.getElementById("results-string").innerHTML = "Not Verifyable, Please Try Again.";
						} else {
							document.getElementById("results-string").innerHTML = "Can Recognized. Dispensing Refund.";
						}
					});
		    	}
		  	}
		  	navigator.getUserMedia({video: true}, function(stream) {
		    	video.srcObject = stream;
		    	localMediaStream = stream;
		  	}, errorCallback);
		</script>
	</body>
</html>
